# Node.js
node-backend/node_modules
client/node_modules

# Python (Flask)
flask-backend/__pycache__
flask-backend/venv
flask-backend/*.pyc

# Environment files
*.env

backend/config/serviceAccountKey.json
"backend/models/alzheimer_cnn_model.h5" 
